<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

	<a class="navbar-brand" href="/">
		<img src="/img/matchalove.png" width="30" height="30">
	</a>

	<a class="navbar-brand" href="#">{{title}}</a>

	{{#if newSmile}}
	<a href="/showSmile/{{newSmile._id}}" class="red" style="margin: 0 10px; font-size: 25px;">
		<i class="fa fa-smile-o"></i>
	</a>

	<script>
		$(document).ready(function () {
			setInterval(function () {
				$('.fa-smile-o').attr('style', 'color: red');
			}, 10);
			setInterval(function () {
				$('.fa-smile-o').attr('style', 'color: white');
			}, 30);
		});
	</script>

	{{else}}
	{{!-- <a class="navbar-brand" href="#">{{title}}</a> --}}
	{{/if}}

	{{#if unread}}
	<a href="/chats" class="navbar-brand" style="margin: 0 10px;">
		<i class="fa fa-envelope-o" id="letter"></i>
	</a>

	<script>
		$(document).ready(function () {
			setInterval(function () {
				$('#letter').attr('style', 'color: red');
			}, 10);
			setInterval(function () {
				$('#letter').attr('style', 'color: white');
			}, 30);
		});
	</script>

	{{/if}}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">

			{{!-- <li class="nav-item">
				<a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li> --}}

			{{#if user}}

			{{!-- <li class="nav-item">
				<a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
			</li> --}}

			<li class="nav-item">
				<a class="nav-link" href="/posts">Feed</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/singles">People</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/chats">Messages</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/displayPostForm">Create Post</a>
			</li>



			{{!-- <li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li> --}}

			{{/if}}


		</ul>

		{{!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form> --}}
		{{#if user}}

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/profile">Profile</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>

		{{/if}}

	</div>
</nav>
