<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="center">
		<h4 class="text-muted"><small>Oops! Page not found :(</small></h4>

		<a href="/singles" class="btn btn-primary mt-3">Discover</a>
	</div>

</div>
