<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<p>Matcha or macha (抹茶, Japanese: [mat.tɕa], English /ˈmætʃə/[1] or /ˈmɑːtʃə/[i]) is finely ground powder of
		specially grown and processed green tea leaves. It is special in two aspects of farming and processing: the
		green tea plants used for matcha are shade-grown for three to four weeks before harvest, and the stems and veins
		are removed during processing. During shaded growth, the plant Camellia sinensis produces more theanine and
		caffeine. The powdered form of matcha is consumed differently than from tea leaves or tea bags, as it is
		suspended in a liquid, typically water or milk.</p>

	<p>The traditional Japanese tea ceremony centers on the preparation, serving, and drinking of matcha as hot tea,
		and embodies a meditative spirituality. In modern times, matcha is also used to flavor and dye foods such as
		mochi and soba noodles, green tea ice cream, matcha lattes, and a variety of Japanese wagashi confectionery.
		Matcha used in ceremonies is referred to as ceremonial-grade, meaning that the powder is of a high enough
		quality to be used in the tea ceremony. Lower-quality matcha is referred to as culinary-grade, but no standard
		industry definition or requirements exist for matcha.</p>

	<p> Blends of matcha are given poetic names known as chamei ("tea names") either by the producing plantation, shop,
		or creator of the blend, or by the grand master of a particular tea tradition. When a blend is named by the
		grand master of a tea ceremony lineage, it becomes known as the master's konomi.</p>

	<small>Please note: This Matcha Web App is a student project developed by Verona Ramkumar. Please do not post any
		sensitive or important information. Developer takes no responsibility for loss, risk or damages. Information is
		not in any way willingly shared with ANY party. This project was developed purely for educational purposes
		only</small>

</div>
