<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="center">
		<h4 class="text-muted">Your account has been permanently deleted.</h4>
		<p class="text-muted">To a create a new account click below</p>
		<a href="/"><button class="btn btn-primary">Register</button></a>
	</div>

</div>
