<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="center">
		<h4 class="text-muted mb-3">Are you sure you want to delete your account?</h3>
			<a href="/deleteAccount"><button class="btn btn-danger">Yes</button></a>
			<a href="/profile"><button class="btn btn-success">No</button></a>
	</div>

</div>
