<div class="row">

	<div class="col-sm-4">

		<div class="card" style="width: 18rem;">
			<a href="/uploadImage">
				<img src="{{user.image}}" class="card-img-top" alt="...">
			</a>
			<div class="card-body">

			</div>
		</div>

	</div>

	<div class="col-sm-4">
		<h3>Profile</h3>
		<h5 class="card-title">Full Name: {{user.fullname}}</h5>
		<p class="card-text">Email: {{user.email}}</p>

	</div>

</div>
