<div class="center">
	<h2 class="green">Payment Received</h2>
	<p class="text-muted">Thank you for your payment</p>
	<a href="/chats"><button class="btn btn-success">Chat now</button></a>
</div>
