<div class="container">

	<div class="center">
		<h1 class="center text-muted">{{title}}</h1>
		<hr>
	</div>

	<div class="center">
		<p class="text-muted">Thank you for your payment</p>
		<a href="/chats"><button class="btn btn-success">Chat now</button></a>
	</div>

</div>
