.center {
	text-align: center;
}

.green {
	color: green;
}

.red {
	color: red;
}

.fa-edit {
	cursor: pointer;
	margin-right: 20px;
}

.chatroom-users {
	width: 64px;
}

#messages {
	height: 300px;
	overflow-y: scroll;
}

#main-body {
	margin-top: 80px;
	margin-bottom: 60px;
}

h2 {
	margin-bottom: 25px;
}

.post-icons {
	margin-right: 10px;
}
